.icon {
  width: 32px;
  height: 32px;
  margin-top: 2px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 1000px;
}

.message {
  padding: 5px 10px;
  min-height: 30px;
  border: 1px solid #ccc;
  display: inline-block;
  max-width: calc(100% - 50px);
  border-radius: 10px;
  background-color: #f6f6f6;
  border-bottom-left-radius: 0;
}

.message.mine {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0;
  background-color: #b4dcff;
}
