.dice-red {
  color: white;
  background-color: red;
}
.dice-blue {
  color: white;
  background-color: blue;
}
.dice-purple {
  color: white;
  background-color: purple;
}
.dice-green {
  color: white;
  background-color: green;
}
.dice-black {
  color: white;
  background-color: black;
}
.dice-orange {
  color: white;
  background-color: darkorange;
}
.dice-aqua {
  color: black;
  background-color: aqua;
}
.dice-fuchsia {
  color: white;
  background-color: fuchsia;
}
.dice-gold {
  color: black;
  background-color: gold;
}
.dice-greenyellow {
  color: black;
  background-color: greenyellow;
}
.dice-white {
  color: black;
  background-color: white;
}
