.dice {
  display: inline-block;
  position: relative;
  user-select: none;

  height: 26px;
  width: 26px;

  margin: 2px;

  border: 1px solid #aaa;
  border-radius: 8px;
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 3px 1px rgba(0, 0, 0, 0.2);

  font-weight: bold;
  text-align: center;
}

.dice.dice-lg {
  height: 35px;
  width: 35px;
  padding-top: 2px;
  font-size: 20px;
}

.dice > img {
  margin-top: -2px;
}

.dice.dice-lg > img {
  margin-top: -4px;
}

.dice-dots {
  height: 100%;
  width: 100%;
}

.dice-click {
  cursor: pointer;
}

.dice-locked::after {
  content: "";
  display: block;
  background-size: contain;
  background-image: url(/images/lock.svg);
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 15px;
  height: 15px;
}

.dice-locked {
  background-color: rgba(255, 255, 255, 0.2);
}

.dice-disabled {
  background-color: rgba(0, 0, 0, 0.2);
}

.dice-red {
  color: white;
  background-color: red;
}
.dice-red.dice-locked {
  background-color: #ff8682;
}
.dice-red.dice-disabled {
  background-color: #948e8e;
}

.dice-blue {
  color: white;
  background-color: blue;
}
.dice-purple {
  color: white;
  background-color: purple;
}
.dice-green {
  color: white;
  background-color: green;
}
.dice-black {
  color: white;
  background-color: black;
}
.dice-orange {
  color: white;
  background-color: darkorange;
}
.dice-aqua {
  color: white;
  background-color: aqua;
}


@keyframes dice-roll {
  from {
    color: transparent;
    transform: rotate(-3600deg);
  }
  80% {
    color: transparent;
    transform: rotate(0deg);
  }
  to {
    color: none;
    transform: rotate(360deg);
  }
}

.dice.dice-roll {
  animation: dice-roll 0.9s ease-out;
}

@keyframes dice-dots-roll {
  from {
    opacity: 0;
    transform: rotate(-3600deg);
  }
  80% {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: none;
    transform: rotate(360deg);
  }
}

.dice.dice-roll > img {
  animation: dice-dots-roll 0.9s ease-out;
}
