.dice {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #aaa;
  font-weight: bold;
  height: 26px;
  width: 26px;
  display: inline-block;
  text-align: center;
  margin: 2px;
}

@keyframes dice-roll {
  from {
    color: transparent;
    transform: rotate(-3600deg);
  }
  70% {
    color: transparent;
    transform: rotate(0deg);
  }
  to {
    color: initial;
    transform: rotate(360deg);
  }
}

.dice-roll {
  animation: dice-roll 0.9s ease-out;
}
